<article class="block-3">
    <div class="block-3__header">
        <h2 class="block-3__title">Connect and engage with customers</h2>
        <p class="block-3__small-description">Async video helps you stay connected – anytime, anywhere.</p>
    </div>
    <div class="block-3__container">
        <ul class="block-3__features features">
            <li class="block-3__features-item">
                <h3 class="block-3__features-text">Event-triggered emails<img class="block-3__arrow arrow" src="img/arrow.svg" alt=""></h3>
                <p class="block-3__features-small-text">Onboard new users. Nurture leads. Personalize sales cadences.</p>
            </li>
            <li class="block-3__line block-3__line_color-blue"></li>
            <li class="block-3__features-item">
                <h3 class="block-3__features-text">Newsletters<img class="block-3__arrow arrow arrow_right" src="img/arrow.svg" alt=""></h3>
            </li>
            <li class="block-3__line"></li>
            <li class="block-3__features-item">
                <h3 class="block-3__features-text">Direct messages<img class="block-3__arrow arrow arrow_right" src="img/arrow.svg" alt=""></h3>
            </li>
            <li class="block-3__line"></li>
        </ul>
        <img class="block-3__image" src="img/block-3.png" alt="">
    </div>
</article>