<div class="get-started">
    <div class="get-started__target">
        <h1 class="get-started__title">Connect to customers with video</h1>
        <p class="get-started__small-description">Drive more engagement. Build human relationships. Increase email conversions.</p>
        <button class="get-started__button"><span class="get-started__button-text">Get Started for Free</span></button>
        <p class="get-started__required">No credit card required!</p>
    </div>
    <img class="get-started__image" src="img/get-started.png" alt="get started">
</div>