<div class="block-6">
    <div class="block-6__row row">
        <div class="row__text">
            <h2 class="row__text-title">
                Stand out in their inbox
            </h2>
            <p class="row__text-description">
                You’re not saying the same thing as everyone else... Why should you look the same? Cut through the noise with a personal video or product demo.
            </p>
        </div>
        <div class="row__image">
            <img src="img/block-6-1.svg" alt="">
        </div>
    </div>
    <div class="block-6__row row">
        <div class="row__image">
            <img src="img/block-6-2.svg" alt="">
        </div>
        <div class="row__text">
            <h2 class="row__text-title">
                Show, don’t tell
            </h2>
            <p class="row__text-description">
                Your product looks awesome. So let your customers see it in action with a clean, compelling product demo video.
            </p>
        </div>
    </div>
    <div class="block-6__row row">
        <div class="row__text">
            <h2 class="row__text-title">
                Build a human relationship
            </h2>
            <p class="row__text-description">
                Capture your passion, warmth, and other nonverbal cues with video. You’re not just selling a product, you’re building a relationship!
            </p>
        </div>
        <div class="row__image">
            <img src="img/block-6-3.svg" alt="">
        </div>
    </div>
</div>